@import "../../../styles/mixins.module";

.Wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  &Title {
    text-align: start;
    margin-bottom: 25px;
  }

  &Text {
    @include primary-font;
    color: #000;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;

  }

  &List {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &Item {
      width: 50%;
      margin-bottom: 30px;
      //margin-right: 10px;
      img {
        width: 100%;
        max-width: 120px;
      }

      &Name {
        @include primary-font;
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;
        color: #000;
      }
    }
  }

  &Link {
    @include primary-font;
    color: #447B57;
    text-decoration-line: underline;
  }

  &BigLink {
    display: none;
  }
}

@media (min-width: 500px) {
  .Wrapper {
    &Text {
      display: inline-block;

      font-size: 18px;
      width: 70%;
      margin: 0 auto 25px;
    }

    &List {
      &Item {
        width: 50%;
        margin-bottom: 30px;

        img {
          width: 100%;
          max-width: 160px;
        }

        &Name {
          font-size: 20px;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .Wrapper {
    margin-bottom: 100px;

    &Title {
      text-align: center;
    }

    &Text {

      font-size: 24px;
      width: 53%;
      max-width: 750px;
      margin: 0 auto 25px;
      text-align: center;
      letter-spacing: inherit;
    }

    &List {
      flex-wrap: nowrap;

      &Item {
        margin-bottom: 0;

        img {
          width: 100%;
          max-width: 200px;
        }

        &Name {
          font-size: 24px;
        }
      }
    }

    &BigLink {
      display: block;
      margin-bottom: 60px;
      text-align: end;
    }

    &DisableLink {
      display: none;
    }
  }

}