@import "../../../styles/mixins.module";

.Title{
  text-align: start;
  margin-bottom: 25px;
  width: 75%;
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
  &Container{
    padding: 5px 0 5px 15px;
    clip-path: polygon(0% 0%, 100% 0, 90% 48%, 100% 100%, 0% 100%);
    background-color: #ED7A90;
  }
}
.Wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;



  &List {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &Item {
      width: 50%;
      margin-bottom: 30px;
      //margin-right: 10px;
      img {
        width: 100%;
        max-width: 120px;
      }

      &Name {
        @include primary-font;
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;
        color: #000;
      }
    }
  }

  &Link {
    @include primary-font;
    color: #447B57;
  }

  &BigLink {
    display: none;
  }
}

@media (min-width: 500px) {
  .Title{
    width: 55%;
  }
  .Wrapper {
    &List {
      &Item {
        width: 50%;
        margin-bottom: 30px;

        img {
          width: 100%;
          max-width: 160px;
        }

        &Name {
          font-size: 20px;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .Title{
    width: 45%;
    &Container{
      padding: 5px 0 5px 35px;
    }
  }
  .Wrapper {
    margin-bottom: 100px;
    &List {
      flex-wrap: nowrap;

      &Item {
        margin-bottom: 0;

        img {
          width: 100%;
          max-width: 200px;
        }

        &Name {
          font-size: 24px;
        }
      }
    }

    &BigLink {
      display: block;
      margin-bottom: 60px;
      text-align: end;
    }

    &DisableLink {
      display: none;
    }
  }

}