@import '../../../styles/variables.module';
@import "../../../styles/mixins.module";
.Menu {
  padding: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;

  &Close {
    font-size: 25px;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  &Logo {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    position: relative;
    width: 100%;
    &::before {
      content: '';
      position: absolute;
      left: 10%;
      bottom: -40px;
      width: 80%;
      height: 1px;
      background-color: #C8DDD2;;
    }
  }

  &Wrapper {
    display: flex;
    flex-direction: column;
    height: 160px;
    margin-top: 70px;

    &Nav {
      height: 100%;
    }

    &Select {
      margin-top: 27px;
    }
  }
&Button{
  margin-top: 200px;

}
&Content{
display: flex;
  margin-top: 16px;
  &Text{
   @include primary-font;
    color:#000000;
    margin-right: 5px;
  }
  &Link{
    @include primary-font;
    color:$primary-color;
    text-decoration: underline;
  }
}
}