.Title{
  text-align: start;
  margin-bottom: 25px;
  width: 75%;
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
  &Container{
    padding: 5px 0 5px 15px;
    clip-path: polygon(0% 0%, 100% 0, 90% 48%, 100% 100%, 0% 100%);
    background-color: #99A1D8;

  }
}


.Wrapper {
  margin-bottom: 50px;
  position: relative;

  &Title {
    text-align: start;
    margin-bottom: 25px;
  }

  &Card {
    width: 100%;
    max-width: 250px;
    margin: 0 auto 40px;

    &Image {
      margin-bottom: 20px;

      img {
        width: 100%;
        max-width: 250px;
      }
    }

    &Text {
      color: #000;
      font-family: Inter, serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}

@media (min-width: 500px) {
  .Title{
    width: 55%;
    margin-bottom: 35px;
  }
  .Wrapper {
    &Card {
      width: 100%;
      max-width: 280px;

      &Image {

        img {
          width: 100%;
          //max-width: 280px;
        }
      }
    }
  }

}

@media (min-width: 900px) {
  .Title{
    width: 45%;
    margin-bottom: 85px;
    &Container{
      padding: 5px 0 5px 35px;

    }
  }
  .Wrapper {
    margin-bottom: 100px;

    &Title {

      margin-bottom: 40px;
    }

    &Card {
      width: 100%;
      max-width: 400px;


      &Image {
        margin-bottom: 35px;

        img {
          width: 100%;
          max-width: 295px;
        }
      }

      &Text {
        font-size: 24px;
      }
    }
  }
}

.customDot {
  background-color: #777777;
  width: 30px;
  height: 7px;
  display: inline-block;
  cursor: pointer;
}

.active {
  background-color: #B4E2F6;
}