@import "../../styles/mixins.module";

.h1{

}
.h2{
  @include primary-font;
  font-size: 28px;
  font-weight: 500;
  color:  #000;

}
.h3{

}
.h2Grey{
  color:  #777;
}
@media (min-width: 500px) {
  .h1{

  }
  .h2{
    font-size: 32px;
  }
  .h3{

  }
  .h2Grey{

  }
}
@media (min-width: 900px) {
  .h1{

  }
  .h2{
    font-size: 48px;
  }
  .h3{

  }
  .h2Grey{

  }
}