@import '../../styles/variables.module';
@import '../../styles/mixins.module';

.Nav {
  width: 100%;
  height: 100%;

  &List {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    height: 100%;

    &Item {
      @include primary-font;

      &Link {
        display: flex;
        align-items: center;
        color: black;
        text-decoration: none;
        position: relative;

        &Icon {
          margin-right: 15px;
        }

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

.MobileNav {
  width: 100%;
  height:100%;

  &List {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
    height: 100%;
    //width: 160px;

    &Item {
      @include primary-font;


      &Link {
        display: flex;
        align-items: center;
        color: black;
        text-decoration: none;
        position: relative;
        width: 180px ;

        &Icon {
          margin-right: 15px;
        }
      }
    }

  }
}

.FooterNav {
  &List {

    &Item {
      @include primary-font;
      margin-bottom: 12px;
      font-weight: 300;
      font-size: 14px;

      &Link {
        color: black;
      }
    }

  }
}

//@media (min-width: 500px) {
//  .Nav {
//width: 40%;
//    &List {
//      flex-direction: row;
//      justify-content: space-evenly;
//
//      &Item {
//        font-size: 12px;
//        margin-right: 5px;
//
//      }
//    }
//  }
//}

@media (min-width: 900px) {
  .Nav {
    width: 30%;

    &List {
      flex-direction: row;
      justify-content: space-evenly;

      &Item {
        font-size: 16px;
        margin-right: 5px;
      }
    }
  }


}

