@import "../../../styles/mixins.module";
@import "../../../styles/variables.module";

.Info {
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid rgb(200, 221, 210);
padding-bottom: 15px;
  &Img {
    width: 100%;
    max-width: 65px;
    height: 85px;
    border-radius: 8px;
  }

  &Description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &Title {
      @include primary-font;
      font-size: 15px;
      font-weight: 600;
      line-height: 18px;
      color: #000000;
      letter-spacing: 0;
      margin-bottom: 5px;
    }

    &Actions {
      width: 100%;
      display: flex;
      margin-bottom: 10px;

      img {
        margin-left: 15px;
        width: 26px;
        cursor: pointer;
      }
    }

    &List {
      display: flex;
      flex-direction: column;
      align-items: flex-start;




      &Item {
        @include primary-font;
        color: rgb(141, 141, 141);
        font-size: 9px;
        line-height: 12px;
        letter-spacing: 0;
        margin-bottom: 5px;

        p {
          margin: 0;


          span {
            color: #000000;
            @include primary-font;
            font-size: 9px;
            line-height: 12px;
            margin-left: 8px;

          }
        }

        &:last-child {
          span {
            margin-left: 40px;
          }
        }
      }
    }
  }
}