@import "../../../styles/mixins.module.scss";

.NoMessage {
    margin: auto auto 20px auto;

    img {
        aspect-ratio: 1;
        width: 26vw;
        min-width: 250px;
    }
    h2 {
        @include flexible-font(20px, 3vw, 32px, 600);
    }
}
