@import "../../../styles/variables.module";
@import "../../../styles/mixins.module";

.Popper{

  &Nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    width: 168px;
    margin-top: 30px;
    &Item{
      margin-bottom: 11px;
      &Link{
        @include primary-font;
        color: #000;
        font-size: 14px;
        display: flex;
        align-items: center;
        img{
          margin-right: 10px;
        }
      }
    }
  }
  &Closed{
    cursor: pointer;
    margin-top: 33px;
    display: flex;
    img{
      margin-right: 10px;
    }
    &Text{
      @include primary-font;
      color: #000;
    }
  }
}
