@import "../../styles/mixins.module";

.Wrapper{


}













  .Tabs{
    display: flex;
    flex-direction: column;


    &List{
      display: flex;
      list-style: none;
      justify-content: space-around;
      background: rgb(255, 255, 255);
      position: relative;
      &::after{
        content: ''; /* Обязательно нужно задать содержимое для псевдоэлемента */
        position: absolute;
        bottom: -25%; /* Помещаем подчеркивание внизу */
        left: 0; /* Выравниваем влево */
        width: 100%; /* Растягиваем на всю ширину .Wrapper */
        height: 1px; /* Высота подчеркивания */
        background-color: #C8DDD2; /* Цвет подчеркивания */
      }
      &Tab{
        font-family: Montserrat, serif;
        font-size: 16px;
        color: #777777;
        line-height: 20px;
        letter-spacing: 0;
        cursor: pointer;
        //position: relative;
        //&:nth-child(1)::before{
        //  content: ''; /* Обязательно нужно задать содержимое для псевдоэлемента */
        //  position: absolute;
        //  top: 0; /* Помещаем черту вверху */
        //  right: -50%; /* Выравниваем вправо */
        //  width: 1px; /* Ширина черты */
        //  height: 100%; /* Высота черты */
        //  background-color: #B0B0B0; /* Цвет черты */
        //}
      }

    }
    &Panel{
//margin-top: 40px ;
    }
  }
