@import '../../styles/variables.module';

.Button{
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 12px;
  border-radius: 8px;
  color: #FFFFFF;
  background: $primary-color;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: none;
  border:none;
  &:active{
    background: $hover-color;
  }
}

.HeaderButton{
  background: #FFFFFF;
  border: 1px solid $primary-color;
  margin-left: 13px;
  color: #000;
  &:hover {
    background: $primary-color;
    color: #FFFFFF;
  }
}

.MobileMenu{
  width: 254px;
  margin: 0;
}
.BannerButton{
  margin: 0;
  padding: 12px 50px;
  //width: 254px;
}
@media (min-width: 500px) {

}
@media (min-width: 900px) {
  .Button{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    &:hover{
      background: $hover-color;
    }
  }
  .HeaderButton{
    &:hover{
      background:$primary-color;
    }
  }
}











