@import "../../../styles/mixins.module";

.MyUsers{
  display: flex;
  flex-direction: column;
  padding: 20px 0;

}
@media (min-width: 400px) {
  .MyUsers{
    padding: 35px 0;

  }

}
@media (min-width: 900px) {
  .MyUsers{
    padding: 0;
    width: 80%;
  }
}