@import '../../../../../styles/mixins.module.scss';

.Wrapper {
    display: grid;
    gap: 20px;
    padding-block: 25px;

    &.IsGrid {
        grid-template-columns: repeat(auto-fill, minmax(506px, 1fr));
    }

    @media all and (max-width: 600px) {
        grid-template-columns: 1fr;
    }

    &NotExist {
        @include flexible-font(18px, 4vw, 20px, 400, #000);
        padding-block: 150px;
    }
}
