@import '../../../../../styles/mixins.module.scss';
@import '../../../../../styles/variables.module.scss';

.Links {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;

    > span {
        @include primary-font;
        font-weight: 500;
        font-size: clamp(6px, 2.5vw, 14px);
        color: #777;
    }

    ul {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-items: end;
        gap: 10px;

        li {
            @include primary-font;
            display: flex;
            align-items: center;
            gap: 7px;
            font-size: clamp(10px, 2vw, 14px);
            cursor: pointer;

            @media (hover: hover) {
                &:hover {
                    text-decoration: none !important;
                }
            }

            img {
                border-radius: 5px;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            }
        }

        @media all and (max-width: 900px) {
            grid-template-columns: max-content;
            grid-template-rows: repeat(2, 1fr);
            gap: 10px;

            > :nth-child(1) {
                grid-area: 2 / 2 / 3 / 3;
            }

            > :nth-child(2) {
                grid-area: 2 / 1 / 3 / 2;
            }

            > :nth-child(3) {
                grid-area: 1 / 1 / 2 / 2;
            }
        }
    }
}
