@import "../../../styles/mixins.module";
@import "../../../styles/variables.module";
.Form {
  width: 280px;

  display: flex;
  flex-direction: column;
  align-items: center;


  &VisibilityWrapper {
    position: relative;
    width: 100%;

    &Visibility {
      position: absolute;
      top: 20%;
      right: 5%;
      cursor: pointer;

    }
  }

  &Input {
    width: 100%;
    border-radius: 8px;
    border: 0.5px solid #B0B0B0;
    outline: none;
    padding: 12px 0 13px 11px;
    margin-bottom: 10px;

    &::placeholder {
      @include primary-font;
      font-size: 12px;
      color: #8D8D8D;
      letter-spacing: 0.16px;
    }

    &Error {
      color: red;
    }
  }
  &Button{
    margin-top: 60px;
  }
&Text{
  @include primary-font;
  margin: 25px 0;
  color: #000;
  letter-spacing: 0.32px;
}
  &Icon{
    width:50%;
    display: flex;
    justify-content: center;
    //margin-bottom: 40px;
    img{
      cursor: pointer;
    }

  }
}
.Wrapper{
  display: flex;
  justify-content: center;
  margin-top: 130px;
  &Text{
    @include primary-font;
    color:#000000;
    margin-right: 5px;
  }
  &Link{
    @include primary-font;
    color:$primary-color;
    text-decoration: underline;
  }
}

@media (min-width: 500px) {
  .Form {
    width: 350px;

    &Input {
      width: 100%;
      border-radius: 8px;
      border: 0.5px solid #B0B0B0;
      outline: none;
      padding: 12px 0 13px 11px;
      margin-bottom: 10px;
      font-size: 14px;

      &::placeholder {
        font-size: 14px;
      }
    }
  }

}
@media (min-width: 900px) {
  .Form {
    width: 398px;

    &VisibilityWrapper {

      &Visibility {

      }
    }

    &Input {
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #777;
      outline: none;
      padding: 12px 0 13px;
      margin-bottom: 10px;

      font-size: 16px;
      &::placeholder {
        font-size: 16px;

      }

    }
    &Text{
      @include primary-font;
      margin: 25px 0;
      color: #000;
      letter-spacing: 0.32px;
    }
    &Icon{
      width:50%;


    }
  }
  .Wrapper{
    margin-top: 90px;
  }
}