@import "../../../styles/mixins.module";
@import "../../../styles/variables.module";

.Form {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &VisibilityWrapper {
    position: relative;
    width: 100%;

    &Visibility {
      position: absolute;
      top: 20%;
      right: 5%;
      cursor: pointer;

      &Icon {
        width: 24px;
        height: 24px;
      }
    }
  }

  &Input {
    width: 100%;
    border-radius: 8px;
    border: 0.5px solid #B0B0B0;
    outline: none;
    padding: 12px 0 13px 11px;
    margin-bottom: 10px;

    &::placeholder {
      @include primary-font;
      font-size: 12px;
      color: #8D8D8D;
      letter-spacing: 0.16px;
    }

    &Error {
      @include primary-font;
      font-size: 12px;
      color: red;
    }
  }

  &Label {
    display: flex;
    align-items: center;
    margin-top: 5px;

    &CheckBox {
      appearance: none;
      background: white;
      border: 1px solid #ccc;
      width: 14px;
      height: 14px;
      cursor: pointer;
      position: relative;
      color: white;

      &:checked {
        background-color: $primary-color;

        &::after {
          content: '\2713';
          position: absolute;
          top: -2px;
          left: 1px;
        }
      }
    }

    &Text {
      @include primary-font;
      font-size: 9px;
      color: #000;
      margin-right: 2px;
    }

    &Link {
      @include primary-font;
      color: $primary-color;
      font-size: 9px;
    }
  }

  &Forgot {
    @include primary-font;
    color: $primary-color;
    font-size: 12px;
    align-self: flex-end;
    cursor: pointer;

  }

  &Button {
    margin-top: 18px;
  }

  &Text {
    @include primary-font;
    margin: 25px 0;
    color: #000;
    letter-spacing: 0.32px;
  }

  &Icon {
    width: 50%;
    display: flex;
    justify-content: center;
    //margin-bottom: 40px;
    img {
      cursor: pointer;
    }

  }
}

.Wrapper {
  display: flex;
  justify-content: center;
  margin-top: 130px;

  &Text {
    @include primary-font;
    color: #000000;
    margin-right: 5px;
  }

  &Link {
    @include primary-font;
    color: $primary-color;
    text-decoration: underline;
  }
}

@media (min-width: 500px) {
  .Form {
    width: 350px;

    &Input {

      font-size: 14px;

      &::placeholder {
        font-size: 14px;
      }
      &Error {
        font-size: 14px;
      }
    }
    &Label{
      &Text{
        font-size: 11px;
        margin-right: 3px;
      }
      &Link{
        font-size: 11px;
      }
    }
  }

}

@media (min-width: 900px) {
  .Form {
    width: 398px;


    &Input {
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #777;
      padding: 12px 0 13px;
      margin-bottom: 10px;
      font-size: 16px;
      &::placeholder {
        font-size: 16px;
      }
      &Error {
        font-size: 16px;
      }
    }
    &Label {
      &CheckBox {
        width: 20px;
        height: 20px;
        margin-right: 5px;

        &:checked {

          &::after {
            top: 1px;
            left: 4px;
          }
        }
      }

      &Text {
        font-size: 13px;
        margin-right: 5px;
      }
      &Link {
        font-size: 13px;
      }
    }
    &Forgot {
      font-size: 14px;
    }

    &Button {
      margin-top: 55px;
    }

    &Text {
      @include primary-font;
      margin: 25px 0;
      color: #000;
      letter-spacing: 0.32px;
    }

    &Icon {
      width: 50%;
    }
  }
  .Wrapper {
    margin-top: 90px;
  }
}