@import "../../../styles/variables.module";
@import "../../../styles/mixins.module";

.Info {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 15px;
  width: 100%;

  &Avatar {
    border-radius: 50px;
    background: #D9D9D9;
    margin-bottom: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &Image {
      width: 50px;;
      height: 50px;
      border-radius: 50px;
    }

    &::before {
      border-radius: 50%;
      content: '';
      position: absolute;
      bottom: 7px;
      right: 0;
      width: 10px;
      height: 10px;
      background-color: $lite-green;
    }
  }

  &Data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75%;

    &Name {
      @include primary-font;
      font-size: 15px;
      font-weight: 600;
      line-height: 150%;
    }

    &Rating {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: auto;

      &Value {
        margin: 0 12px 0 5px;
      }

      p {
        @include primary-font;
        font-size: 10px;
        line-height: 12px;
        color: rgb(68, 123, 87);
        cursor: pointer;
      }
    }

    &Nav {
      display: flex;
      flex-direction: column;
      margin: 15px 0 20px;


      &Item {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 5px;
        color: #000000;


        &Image {
          border-radius: 5px;
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
          background: rgb(255, 255, 255);
          width: 20px;
          height: 20px;
        }

        &Text {
          @include primary-font;
          font-size: 10px;
          line-height: 150%;

        }

      }
    }
  }
}

@media (min-width: 500px) {
  .Info {
    justify-content: center;
    gap: 20px;

    &Avatar {
      border-radius: 100px;
      width: 70px;
      height: 70px;

      &Image {
        width: 70px;;
        height: 70px;
      }

      &::before {
        right: 5px;
      }
    }

    &Data {
      width: auto;

      &Name {
        font-size: 18px;
      }

      &Rating {

        p {
          font-size: 14px;
        }
      }

      &Nav {

        &Item {
          gap: 10px;
          margin-bottom: 10px;


          &Image {
            width: 24px;
            height: 24px;
          }

          &Text {
            font-size: 14px;
          }

        }
      }
    }
  }
}

@media (min-width: 900px) {
  .Info {
    gap: 40px;
    margin-top: 0;
    align-self: flex-start;
    width: 50%;

    &Avatar {
      margin-bottom: 0;
      width: 100px;
      height: 100px;

      &Image {
        width: 100px;;
        height: 100px;
      }

      &::before {
        bottom: 7px;
        right: 7px;
        width: 15px;
        height: 15px;
      }
    }

    &Data {
      &Rating {
        p {
          font-size: 16px;
        }
      }

      &Nav {

        &Item {
          gap: 14px;
          margin-bottom: 15px;

          &Image {
            width: 26px;
            height: 26px;
          }

          &Text {
            @include primary-font;
            font-size: 14px;
          }

        }
      }
    }
  }
}