@import '../../styles/mixins.module.scss';

.Wrapper {
    &Navigation {
        display: flex;

        &Link {
            @include primary-font;
            display: flex;
            align-items: center;
            color: #000;
            font-weight: 600;
            line-height: 150%;
            font-size: 18px;
            display: flex;
            margin-top: 25px;
            margin-bottom: 45px;

            > img {
                margin-right: 20px;
            }
        }
    }

    &Section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;

        @media all and (max-width: 900px) {
            display: block;
        }
    }
}
