@import '../../styles/variables.module';
.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    &Container {
        background: #fff;
        border-radius: 12px;
        //max-width: 600px;
        //min-width: 320px;
        max-width: 656px;
        width: 100%;
        position: relative;
        animation: modalShow 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 70%;
        overflow: hidden;
        height: fit-content;

        &Content {
            padding: 20px;
            width: 100%;
            overflow: auto;
            display: flex;
            justify-content: center;

            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: $lite-gray;
            }

            &Closed {
                position: absolute;
                top: 15px;
                right: 15px;
                font-size: 25px;
                cursor: pointer;

                &:hover {
                    color: #ffffff;
                    background-color: $primary-color;
                    border-radius: 5px;
                }
            }
        }
    }
}
@keyframes modalShow {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}
