@import '../../../../styles/mixins.module.scss';

.Navigation {
    text-align: start;
    padding-bottom: 15px;
    padding-top: 25px;

    @media all and (max-width: 900px) {
        padding-block: 12px;
    }

    button {
        cursor: pointer;
        background: transparent;
        border: none;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 20px;

        span {
            @include flexible-font(16px, 3vw, 18px, 600);
        }
    }
}
