.Wrapper{
  display: flex;

  &Select {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    margin-right: 40px;
    cursor: pointer;
  }
}


@media (min-width: 500px) {

}

@media (min-width: 900px) {
.Select{
  //font-size: 16px;
}
}


