@import "../../../styles/mixins.module";
@import "../../../styles/variables.module";

.Reset {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  &Title {
    @include third-font;
    color: #000;
    margin-bottom: 16px;
    text-align: left;
  }

  &Text {
    @include primary-font;
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
    text-align: left;
  }

  &Form {
    display: flex;
    flex-direction: column;


    &Input {
      border-radius: 8px;
      border: 0.5px solid #777;
      background: #FFF;
      padding: 10px 0 10px 10px;
      width: 100%;
      outline: none;
      &::placeholder {
        @include primary-font;

        color: #777;
      }
    }

    &Error {
      @include primary-font;
      font-size: 14px;
      color:red;

    }

    &Button {
      margin-top: 25px;
    }
  }

}
@media (min-width: 500px) {
  .Reset {
    margin-top: 25px;
    &Title {
      font-size: 28px;
      margin-bottom: 25px;
    }
    &Form {
      &Input {
        &::placeholder {
        }
      }
    }
  }
}
@media (min-width: 900px) {
  .Reset {
    margin-top: 40px;
    &Title {
     font-size: 32px;
    }

    &Text {
      margin-bottom: 30px;
      font-size: 16px;
    }

    &Form {
      &Button {
        margin-top: 32px;
      }
    }
  }
}