.Privacy{
&List{
  font-family: IBM Plex Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  margin-bottom: 12px;
  &Link{
    color:#000000;
  }
}
}
@media (min-width: 900px) {

}