@import "../../../styles/mixins.module";
.Privacy{
&List{
  @include primary-font;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 12px;
  &Link{
    color:#000000;
  }
}
}
@media (min-width: 900px) {

}