@import "../../../../styles/mixins.module";

.Message {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-bottom: 15px;
  }

  &Text {
    @include third-font;
    font-size: 13px;
    color: #8D8D8D;
    margin-bottom: 30px;
    line-height: 120%
  }
}
@media (min-width: 900px) {
  .Message {
    padding: 60px 120px;

    &Text {
      font-size: 16px;
    }
  }
}