@import '../../../../styles/variables.module.scss';
@import '../../../../styles/mixins.module.scss';

.Wrapper {
    &SelectBox {
        @include primary-font;
        display: flex;
        align-items: center;
        position: relative;
        height: 45px;
        border: 1px solid #8d8d8d;
        border-radius: 8px;
        padding: 13px 12px;

        input {
            @include primary-font;
            outline: none;
            height: 100%;
            width: 100%;
            border: none;
        }

        ul {
            width: 100%;
            position: absolute;
            left: 0;
            z-index: 2;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

            li {
                cursor: pointer;
                padding: 13px 12px;
                width: 100%;
                display: flex;
                align-items: center;
                height: 45px;
                background-color: #fff;

                @media (hover: hover) {
                    &:hover {
                        background-color: $lite-gray;
                    }
                }
            }
        }

        img {
            transition: all 0.2s ease-in-out;

            &.Active {
                transform: rotate(180deg);
            }
        }
    }

    span {
        @include primary-font;
        font-size: 14px;
        color: red;
    }

    @media all and (max-width: 900px) {
        span,
        &SelectBox input,
        &SelectBox {
            font-size: 12px;
        }
    }
}
