@mixin primary-font{
  font-family: Inter, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@mixin secondary-font{
  font-family: IBM Plex Sans, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}