@import '../../styles/variables.module';
@import '../../styles/mixins.module';

.Button {
    @include primary-font;
    padding: 12px;
    border-radius: 8px;
    color: #ffffff;
    background: $primary-color;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: none;
    border: none;

    &:active {
        background: $hover-color;
    }
}

.HeaderButton {
    background: #ffffff;
    border: 1px solid $primary-color;
    margin-left: 13px;
    color: #000;

    &:hover {
        background: $primary-color;
        color: #ffffff;
    }
}

.MobileMenu {
    width: 254px;
    margin: 0;
}

.BannerButton {
    margin: 0;
    padding: 12px 50px;
}

.SearchButton {
    width: 30%;
}

.UserButton {
    background: #ffffff;
    border: 1px solid $primary-color;
    margin-left: 13px;
    color: #000;
    display: flex;
    padding: 12px 20px;
}

.ResetPasswordButton {
    width: 100%;
    max-width: 153px;
}

.BookshelfEdit {
    height: fit-content !important;
    display: flex !important;
    font-size: 15px;
    gap: 10px;
    align-items: center !important;
    color: $primary-color;
    text-decoration-line: underline !important;
    background: none !important;
    box-shadow: none !important;
    padding: 0;
    margin-bottom: 12px;
}

.BookshelfExchange {
    color: #000;
    width: 72px;
    height: 23px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #ffffff !important;
    box-shadow: none !important;
    border: 1px solid #000;
    margin-top: 20px;
}

.BookshelfAdd {
    width: 175px;
    height: 38px;
    color: $primary-color;
    display: flex;
    font-size: 15px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: #ffffff !important;
    box-shadow: none !important;
    border: 1px solid $primary-color;
}

.AddBook {
    background: none !important;
    box-shadow: none !important;
    padding: 0;
    text-decoration: underline;
    color: $primary-color;

    @media (hover: hover) {
        &:hover {
            text-decoration: none;
        }
    }
}
.SeparateExchange{
  @include primary-font;
  background: none;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 8px;
  color:#000000;
  font-size: 15px;
  line-height: 18px;
  padding: 3px 8px;
  &:active {
    background: $gray;
  }

}
.SubscriptionUser{
  background: rgba(227, 225, 225, 0.66);
  color: rgb(68, 123, 87);
  font-size: 13px;
}

@media (min-width: 500px) {
}

@media (min-width: 900px) {
    .Button {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

        &:hover {
            background: $hover-color;
        }
    }
    .HeaderButton {
        &:hover {
            background: $primary-color;
        }
    }
    .SearchButton {
        width: 20%;
    }
    .UserButton {
        display: flex;

        &:hover {
            background: #ffffff;
            transform: scale(1.1);
        }
    }
    .BookshelfEdit {
        font-size: 16px;
        padding: 0;
    }
    .BookshelfExchange {
        font-size: 16px;
        width: 100px;
        height: 31px;
    }
    .BookshelfAdd {
        font-size: 16px;
    }
  .SeparateExchange{

    padding: 5px 23px;
    &:hover {
      background: $gray;
      color:#ffffff;
    }

  }
}
