.Photo {
  width: 70px;
  height: 70px;
  background: rgb(217, 217, 217);
  margin: 20px 0 7px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &Avatar {
    width: 100%;
    //max-width: 70px;
    height: 100%;
    //max-height: 70px;
    border-radius: 50%;
  }
  &Icon{
    width: 40px;
    height: 40px;
  }
}