@import "../../../../../styles/mixins.module";

.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;

  &Photo {
    width: 70px;
    height: 70px;
    background: rgb(217, 217, 217);
    margin: 20px 0 7px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &Avatar {
      width: 100%;
      //max-width: 70px;
      height: 100%;
      //max-height: 70px;
      border-radius: 50%;
    }
    &Icon{
      width: 40px;
      height: 40px;
    }
  }
  &Text{
@include primary-font;
    color: rgb(0, 0, 0);
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0;
    margin-bottom: 14px;
  }
}

.But {
  background: #00e717;
}